<h1>Create a new team</h1>
<form action="/teams" method="POST">
    <label>Name:<input type="text" name="name"></label>
    <label>Conference:<input type="text" name="conference"></label>
    <label>Division:<input type="text" name="division"></label>
    <input id="submit" type="submit" value="Submit">
</form>