<h1>Create a New Team</h1>
<form action="/teams" method="POST">
    <input type="text" name="name" placeholder="Name" required><br><br>
    <input type="text" name="conference" placeholder="Conference" required><br><br>
    <input type="text" name="division" placeholder="Division" required><br><br>
    <input id="submit" type="submit" value="Submit">
</form>