<h1>Create a New Team</h1>
<form action="/teams" method="POST">
    <input type="text" name="name" placeholder="Name"><br><br>
    <input type="text" name="conference" placeholder="Conference"><br><br>
    <input type="text" name="division" placeholder="Division"><br><br>
    <input id="submit" type="submit" value="Submit">
</form>