<h1>All Teams</h1>
<% @teams.each do |team| %>
   <font size="5"><a href="/teams/<%=team.id%>"><%= team.name %></a></font>
   <br>
   <font size="2"><%= "#{team.conference} #{team.division}" %></font>
   <br><br>
<% end %>